.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-reset {
  margin: 0;
  padding: 0;
}
.index-central {
  margin: 0 auto;
  width: 84%;
  max-width: 960px;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansNarrowRegular.woff2") format("woff2"), url("fonts/PTSansNarrowRegular.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff");
}
body {
  min-width: 320px;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 100% auto;
  }
  .inner-page .page-header__logo {
    height: 228px;
  }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-header@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .inner-page .page-header__logo {
    height: 308px;
  }
  .page-header__logo img {
    margin-top: 57px;
  }
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.3);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
  }
  .main-nav__toggle {
    display: none;
  }
}
.stats {
  width: auto;
}
.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}
.stats__legend--top {
  display: none;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3) {
  background-color: #353535;
}
.stats__list tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 129px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align-last: auto;
    text-align: left;
    text-transform: none;
  }
  .stats__slogan br {
    display: none;
  }
  .stats__intro {
    width: 37.5%;
    margin-top: 5px;
    padding: 0;
    padding-left: 30px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    flex-direction: column;
    width: 240px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding: 0;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
}
.site-list {
  font-weight: bold;
}
.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    width: 570px;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826550;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active::after {
    right: 30px;
    left: 30px;
  }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: auto;
    min-width: 160px;
  }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
  .user-list__login-icon {
    left: 15px;
  }
}
.advantages {
  padding: 168px 20px 47px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages_item {
  position: relative;
  display: none;
}
.slider__item--show-adv {
  display: block;
}
.advantages_item--fast::before {
  content: "";
  position: absolute;
  top: -123px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 94px;
  background-image: url("../img/icon-fast.svg");
}
.advantages_item--cool::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 88px;
  background-image: url("../img/icon-cool.svg");
}
.advantages_item--price::before {
  content: "";
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 91px;
  background-image: url("../img/icon-price.svg");
}
.advantages_title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.advantages_description {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 134px;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  text-align: center;
}
.advantages__toggles {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 76px;
  justify-content: space-between;
}
.slider__toggle {
  padding: 0;
  width: 8px;
  height: 8px;
  font-size: 0;
  background: none;
  border: 1px solid #ffffff;
  transform: rotate(-45deg);
}
.slider__toggle--active {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages {
    margin: 0 auto;
    padding: 45px 0px 88px;
    width: 84%;
    max-width: 960px;
  }
  .advantages_item {
    margin-left: auto;
    display: block;
    width: 73.8170347%;
  }
  .advantages_item:not(:last-child) {
    margin-bottom: 82px;
  }
  .advantages_item--fast::before,
  .advantages_item--cool::before,
  .advantages_item--price::before {
    top: 50%;
    left: -129px;
    transform: translateY(-50%);
  }
  .advantages_title {
    text-align: left;
  }
  .advantages_description {
    position: relative;
    padding-right: 33px;
    min-height: 0;
    text-align: left;
  }
  .advantages_description::after {
    content: "";
    position: absolute;
    left: -27.5%;
    bottom: -42px;
    width: 120%;
    height: 1px;
    background-color: #4a4a4a;
  }
  .advantages_item:last-child .advantages_description::after {
    content: none;
  }
  .advantages__toggles {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding: 0px 0px 104px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages_item {
    margin: 0;
    margin-top: 206px;
    width: 33.33333333%;
  }
  .advantages_item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages_item:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    left: 94%;
    bottom: 0;
    width: 1px;
    height: 180%;
    background-color: #4a4a4a;
  }
  .advantages_item--fast::before,
  .advantages_item--cool::before,
  .advantages_item--price::before {
    top: -124px;
    left: 50%;
    transform: translateX(-50%);
  }
  .advantages_title {
    text-align: center;
  }
  .advantages_description {
    text-align: center;
  }
  .advantages_description::after {
    content: none;
  }
}
.news {
  position: relative;
  padding: 37px 20px 28px;
  background-color: #f8f5f2;
}
.news::before {
  content: "";
  position: absolute;
  top: -34px;
  left: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom left, transparent 50%, #f8f5f2 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #f8f5f2 50.9%) right / 51.5% 100% no-repeat;
}
.news::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e5ddd5;
}
.news__title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  position: relative;
  display: flex;
  margin-bottom: 36px;
}
.news__item:last-child {
  margin-bottom: 21px;
}
.news__item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -18%;
  width: 100%;
  height: 1px;
  background-color: #e5ddd5;
}
.news__date {
  position: relative;
  display: block;
  margin-top: 11px;
  margin-right: 20px;
  width: 50px;
  height: 50.5px;
  font-size: 16px;
  line-height: 0px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
.news__date::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border-style: solid;
  border-width: 10px 25px 0 25px;
  border-color: #000000 transparent transparent transparent;
}
.news__day {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}
.news__text {
  margin: 0;
  padding: 0;
  width: 75%;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  color: #000000;
}
.news__to-all {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e5ddd5;
}
@media (min-width: 768px) {
  .news {
    padding: 52px 0px 34px;
  }
  .news_wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .news__title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .news__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
  }
  .news__item {
    width: 43%;
  }
  .news__item:last-child {
    display: none;
  }
  .news__item:not(:last-child)::after {
    content: none;
  }
  .news__to-all {
    margin-left: auto;
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .news__title {
    margin-left: 69px;
  }
  .news__list {
    justify-content: flex-start;
  }
  .news__item {
    width: 29.1%;
    margin-right: 40px;
  }
  .news__item:last-child {
    display: flex;
  }
}
.reviews {
  position: relative;
  padding: 30px 20px 28px;
  min-height: 262px;
  background-color: #f8f5f2;
}
.reviews::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom left, transparent 50%, #292929 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #292929 50.9%) right / 51.5% 100% no-repeat;
}
.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.reviews__item {
  display: none;
}
.slider__item--show-rev {
  display: flex;
}
.reviews__write,
.reviews__prev,
.reviews__next {
  display: none;
  cursor: pointer;
}
.reviews__item,
.reviews__author-picture,
.reviews__text {
  margin: 0;
  padding: 0;
}
.reviews__author-picture {
  margin-top: 9px;
  margin-right: 20px;
}
.reviews__item-wrapper {
  width: 75%;
  min-height: 165px;
}
.reviews__author-name {
  margin-bottom: 10px;
  display: block;
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}
.reviews__text {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  color: #000000;
}
.reviews .advantages__toggles {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 76px;
  justify-content: space-between;
}
.reviews .slider__toggle {
  padding: 0;
  width: 8px;
  height: 8px;
  font-size: 0;
  background: none;
  border: 1px solid #353535;
  transform: rotate(-45deg);
}
.reviews .slider__toggle--active {
  background-color: #353535;
}
@media (min-width: 768px) {
  .reviews {
    padding: 37px 0px 66px;
    min-height: 0;
  }
  .reviews::before {
    content: none;
  }
  .reviews__wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .reviews__title {
    margin-bottom: 0;
  }
  .reviews__write,
  .reviews__prev,
  .reviews__next {
    display: block;
  }
  .reviews__write {
    margin-left: auto;
    padding: 14px 0;
    display: block;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e5ddd5;
  }
  .reviews__list {
    margin-top: 36px;
    display: flex;
    width: 100%;
  }
  .reviews__item {
    width: 100%;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }
  .reviews__author-picture {
    margin: auto 30px;
  }
  .reviews__item-wrapper {
    padding: 32px 0;
    min-height: 0;
  }
  .reviews__author-name {
    margin-bottom: 13px;
  }
  .reviews__text {
    padding-right: 50px;
  }
  .reviews__prev {
    position: relative;
    display: block;
    width: 50px;
    min-height: 160px;
    font-size: 0;
    background: none;
    border: 1px solid #e5ddd5;
    order: -1;
  }
  .reviews__prev::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 6px 12px 6px 0;
    border-color: transparent #000000 transparent transparent;
  }
  .reviews__next {
    position: relative;
    display: block;
    width: 50px;
    min-height: 160px;
    font-size: 0;
    background: none;
    border: 1px solid #e5ddd5;
  }
  .reviews__next::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent #000000;
  }
  .reviews .advantages__toggles {
    margin-top: -4px;
    padding: 0 25px;
    background-color: #f8f5f2;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding-bottom: 44px;
  }
  .reviews__title {
    margin-left: 66px;
  }
  .reviews__item {
    width: 86%;
    border: 1px solid #e5ddd5;
  }
  .reviews__author-picture {
    margin: auto 70px auto 0px;
    font-size: 0px;
    line-height: 0px;
  }
  .reviews__text {
    padding-right: 80px;
  }
  .reviews__prev {
    margin-right: auto;
  }
  .reviews__next {
    margin-left: auto;
  }
  .reviews .advantages__toggles {
    margin-top: 42px;
    padding: 0;
    background: none;
  }
}
.page-footer {
  padding-top: 35px;
  padding-bottom: 24px;
}
.contacts {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.contacts__title {
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
}
.contacts__text {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  text-align: center;
}
.contacts__phone {
  margin-top: 17px;
  padding: 12px 0;
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #3e3e3e;
}
.contacts__phone-mobile {
  display: none;
}
.social__title {
  display: none;
}
.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  width: 33.33333333%;
}
.social__link {
  display: flex;
  justify-content: center;
  height: 101px;
  border: 1px solid #3e3e3e;
}
.copyright {
  padding: 30px 20px 0px;
}
.copyright__text {
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  text-align: center;
}
.copyright__link {
  margin-top: 12px;
  padding: 12px 0;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #3e3e3e;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 49px 0px 58px;
  }
  .page-footer__wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts {
    padding: 0;
  }
  .contacts__title {
    text-align: left;
    text-transform: uppercase;
  }
  .contacts__text {
    text-align: left;
  }
  .contacts__phone {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    border: none;
  }
  .contacts__phone-mobile {
    display: inline-block;
  }
  .page-footer__social {
    order: 1;
    width: 100%;
  }
  .copyright {
    padding: 0;
  }
  .copyright__link {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
  }
  .contacts {
    margin-right: 91px;
  }
  .page-footer__social {
    order: 0;
    width: auto;
  }
  .social__list {
    margin-top: 10px;
  }
  .social__item {
    margin-right: 4%;
  }
  .social__link {
    width: 49px;
    height: 49px;
    align-items: center;
  }
  .social__link--vkontakte img {
    width: 15px;
    height: 17px;
  }
  .social__link--facebook img {
    width: 10px;
    height: 21px;
  }
  .social__link--instagram img {
    width: 19px;
    height: 19px;
  }
  .social__title {
    display: block;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-align: center;
  }
  .copyright {
    margin-left: auto;
  }
}
.popup {
  display: none;
}
.sign-up {
  position: relative;
  padding: 30px 20px 73px;
  color: #000000;
  background-color: #f8f5f2;
}
.sign-up::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom left, transparent 50%, #292929 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #292929 50.9%) right / 51.5% 100% no-repeat;
}
.sign-up__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sign-up__to-main {
  display: none;
}
.sign-up__form fieldset {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
}
.sign-up__form .sign-up__contacts {
  margin-bottom: 38px;
}
.contacts__list-top,
.contacts__list-bottom {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__list-top {
  margin-bottom: 26px;
}
.contacts__input {
  padding: 9px 20px;
  margin-bottom: 6px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
}
.contacts__input::placeholder {
  color: #000000;
}
.contacts__input--message {
  margin-bottom: 0;
  height: 112px;
  resize: none;
}
.beard-model__title,
.additonal-services__title {
  position: relative;
  margin-bottom: 100px;
  display: block;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}
.additonal-services__title {
  margin-top: -23px;
  margin-bottom: 35px;
}
.beard-model__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.beard-model__item {
  position: relative;
  padding-bottom: 184px;
  width: 33.33333333%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 37px;
}
.beard-model__item--admiral {
  background-image: url(../img/beard-admiral.svg);
}
.beard-model__item--lumberjack {
  background-image: url(../img/beard-admiral.svg);
}
.beard-model__item--polar {
  background-image: url(../img/beard-polar.svg);
}
.beard-model__item--boyar {
  background-image: url(../img/beard-boyar.svg);
}
.beard-model__item--sage {
  background-image: url(../img/beard-sage.svg);
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -59px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: #826550;
  border-radius: 50%;
}
.beard-model__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-transform: lowercase;
}
.additonal-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additonal-services__item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 59px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 34px;
  height: 34px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
}
.filter-input-checkbox:checked + label span::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 11px;
  width: 2px;
  height: 9px;
  transform: rotate(-45deg);
  background-color: #000000;
}
.filter-input-checkbox:checked + label span::after {
  content: "";
  position: absolute;
  top: 4.5px;
  left: 20.5px;
  width: 2px;
  height: 20.8px;
  transform: rotate(45deg);
  background-color: #000000;
}
.sign-up__button {
  display: block;
  padding: 15px 15px;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #826550;
  cursor: pointer;
}
@media (min-width: 768px) {
  .sign-up {
    padding: 54px 0px 76px;
  }
  .sign-up::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom left, transparent 50%, #f8f5f2 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #f8f5f2 50.9%) right / 51.5% 100% no-repeat;
  }
  .sign-up::after {
    content: none;
  }
  .sign-up__wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
  }
  .sign-up__wrapper-top {
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sign-up__title {
    margin: 0;
    font-size: 40px;
  }
  .sign-up__to-main {
    padding: 15px 15px;
    display: block;
    width: 158px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e5ddd5;
  }
  .sign-up__form .sign-up__contacts {
    margin-bottom: 57px;
  }
  .contacts__list-top {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
  }
  .contacts__list-top .contacts__item {
    width: 33.33333333%;
  }
  .contacts__list-top .contacts__input {
    margin-bottom: 0;
  }
  .contacts__input {
    padding: 19px 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .contacts__list-bottom .contacts__input {
    margin-bottom: 35px;
  }
  .contacts__list-bottom .contacts__input--message {
    height: 211px;
    margin-bottom: 0;
  }
  .beard-model__wrapper {
    position: relative;
  }
  .beard-model__wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    border: 1px solid #E5DDD5;
  }
  .beard-model__title {
    margin: 0 auto 120px;
    width: 60%;
    font-size: 30px;
    line-height: 30px;
    background-color: #f8f5f2;
  }
  .beard-model__list {
    justify-content: flex-start;
  }
  .beard-model__item {
    padding-bottom: 230px;
    width: 15%;
    background-position: center 58px;
  }
  .beard-model__item:not(:nth-child(5n)) {
    margin-right: 6.22%;
  }
  .beard-model__name,
  .additonal-services__name {
    font-size: 24px;
  }
  .sign-up__form .sign-up__additonal-services {
    margin-top: -36px;
  }
  .additonal-services__wrapper {
    position: relative;
  }
  .additonal-services__wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    border: 1px solid #E5DDD5;
  }
  .additonal-services__title {
    margin: 0 auto 69px;
    width: 60%;
    font-size: 30px;
    line-height: 30px;
    background-color: #f8f5f2;
  }
  .additonal-services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .additonal-services__item {
    width: 40%;
  }
  .sign-up__button {
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__list-top .contacts__item {
    width: 31%;
  }
  .contacts__list-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__list-bottom .contacts__item:not(:last-child) {
    width: 48%;
  }
  .contacts__list-bottom .contacts__item:last-child {
    width: 100%;
  }
  .additonal-services__item {
    width: 27.18%;
  }
}
.works {
  padding: 33px 20px 98px;
  color: #000000;
  background-color: #f8f5f2;
}
.works__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.works__to-button {
  display: none;
}
.works__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.works__item {
  margin-bottom: 20px;
}
.works__item:last-child {
  margin-bottom: 0;
}
.works__picture-wrapper {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: #e5ddd5;
}
.works__item--month {
  position: relative;
}
.works__item--month::after {
  content: "Работа месяца";
  position: absolute;
  left: 0;
  bottom: 29px;
  padding: 13px 10px;
  width: 176px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%);
}
.works__description-wrapper {
  margin-top: -1px;
  padding: 23px 34px 32px 23px;
  border: 1px solid #e5ddd5;
}
.works__name {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
}
.works__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}
.works__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 17px;
  margin-left: 34px;
  display: flex;
  flex-wrap: wrap;
}
.works__sublist-item {
  position: relative;
  margin-bottom: 4px;
  width: 28%;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
}
.works__sublist-item:nth-child(2n-1) {
  margin-right: 80px;
}
.works__sublist-item--cut::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-scissors.svg");
}
.works__sublist-item--shaving::before,
.works__sublist-item--beard::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-50%);
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-beard.svg");
}
.works__sublist .works__sublist-item--mustache {
  text-indent: 10px;
}
.works__sublist .works__sublist-item--mustache::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -46px;
  transform: translateY(-50%);
  width: 45px;
  height: 12px;
  background-image: url("../img/icon-mustache.svg");
}
@media (min-width: 768px) {
  .works {
    position: relative;
    padding: 54px 0px 103px;
  }
  .works::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom left, transparent 50%, #f8f5f2 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #f8f5f2 50.9%) right / 51.5% 100% no-repeat;
  }
  .works-wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
  }
  .works__wrapper--top {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .works__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
  .works__to-button {
    padding: 15px 15px;
    display: block;
    width: 158px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e5ddd5;
  }
  .works__item {
    margin-bottom: 40px;
    display: flex;
  }
  .works__item .works__item--month {
    height: 480px;
  }
  .works__picture-wrapper {
    min-width: 270px;
    height: 293px;
  }
  .works__item--month::after {
    top: 35px;
    bottom: auto;
  }
  .works__description-wrapper {
    margin-top: 0;
    margin-left: -1px;
    padding: 46px 50.5px 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .works__name {
    text-align: left;
    margin-bottom: 27px;
  }
  .works__sublist {
    margin-top: auto;
  }
}
@media (min-width: 974px) and (max-width: 1199px) {
  .works__sublist-item:nth-child(2n-1) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .works {
    padding-bottom: 48px;
  }
  .works__wrapper--top {
    margin-bottom: 79px;
  }
  .works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .works__item {
    margin-bottom: 40px;
  }
  .works__item .works__item--month {
    min-width: 481px;
    height: 480px;
  }
  .works__item:first-child .works__sublist-item {
    width: 33.33333333%;
    margin-bottom: 0;
    margin: 0;
  }
  .works__item:first-child .works__sublist-item {
    margin-right: 15px;
  }
  .works__item:first-child .works__sublist-item:nth-child(3n) {
    margin-right: 0;
    width: 5px;
  }
  .works__item:first-child .works__description-wrapper {
    padding: 130px 110px 30px 40px;
  }
  .works__item:not(:first-child) .works__description-wrapper {
    width: auto;
    min-height: 245px;
    margin-left: 0;
  }
  .works__item:not(:first-child) {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    width: 293.33333333px;
  }
  .works__item:not(:first-child) .works__sublist-item:nth-child(2n-1) {
    margin-right: 68px;
  }
  .works__item:nth-child(3n+1) {
    margin-right: 0;
  }
  .works__picture-wrapper {
    min-width: 294px;
    height: 293px;
  }
  .works__item--month::after {
    top: 35px;
    right: 0;
  }
  .works__sublist {
    justify-content: flex-start;
  }
}
.prices {
  position: relative;
  padding: 35px 25px 52px;
  color: #ffffff;
  background-color: #353535;
}
.prices::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom left, transparent 50%, #353535 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #353535 50.9%) right / 51.5% 100% no-repeat;
}
.prices::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 35px;
  background: linear-gradient(to bottom left, transparent 50%, #292929 50.9%) left / 51.5% 100% no-repeat, linear-gradient(to bottom right, transparent 50%, #292929 50.9%) right / 51.5% 100% no-repeat;
}
.prices__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.prices__list {
  width: 100%;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  border-collapse: collapse;
}
.prices__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.prices__item td {
  padding: 0;
}
.prices__item:last-child {
  margin-bottom: 0;
}
.prices__number {
  display: none;
}
.prices__name {
  font-weight: bold;
}
.prices__extra {
  width: 100%;
  order: 1;
}
.prices__field {
  text-align: right;
}
.hours {
  margin-top: 26px;
}
.working-hours {
  padding: 5.92592593% 12.03703704% 5.92592593% 7.40740741%;
  border: 1px solid #4a4a4a;
}
.working-hours__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.working-hours__wrapper::before {
  content: "";
  flex-shrink: 0;
  margin-right: 35px;
  width: 58px;
  height: 57px;
  background-image: url(../img/clock-mobile.svg);
}
.working-hours__text {
  margin-right: auto;
  display: block;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  text-align: left;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .prices {
    padding: 52px 0px 56px;
  }
  .prices::after {
    content: none;
  }
  .prices__wrapper {
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
  }
  .prices__title {
    margin-bottom: 53px;
    font-size: 40px;
    text-align: left;
  }
  .prices__item {
    margin-bottom: 0;
    display: table-row;
  }
  .prices__item td {
    padding: 15px 15px;
    border: 1px solid #4a4a4a;
    text-align: left;
  }
  .prices__item .prices__number {
    display: table-cell;
    width: 11.25%;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
  .prices__name {
    width: 39.0625%;
  }
  .prices__extra {
    width: 25%;
    order: 0;
  }
  .prices__field {
    width: 24.6875%;
  }
  .working-hours {
    padding: 2.72421665%;
  }
  .hours {
    margin-top: 9px;
  }
  .working-hours__wrapper::before {
    margin-left: auto;
    margin-right: 86px;
    width: 72px;
    height: 71px;
    background-image: url(../img/clock-tablet.svg);
  }
  .working-hours__text {
    font-size: 30px;
    line-height: 27px;
    text-transform: uppercase;
  }
}
