// main: ../style.less

.advantages {
	position: relative;

	padding: 168px 20px 47px 20px;
}

.advantages__list {
	.list-reset
}

.slider__item--show {
	display: block;
}

.slider__item--none {
	display: none;
}

.advantages_item--fast::before {
	content: "";

	position: absolute;
	top: 44px;
	left: 50%;
	transform: translateX(-50%);

	width: 95px;
	height: 94px;

	background-image: url("../img/icon-fast.svg");
}

.advantages_item--cool::before {
	content: "";

	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);

	width: 95px;
	height: 88px;

	background-image: url("../img/icon-cool.svg");
}

.advantages_item--price::before {
	content: "";

	position: absolute;
	top: 44px;
	left: 50%;
	transform: translateX(-50%);

	width: 95px;
	height: 91px;

	background-image: url("../img/icon-price.svg");
}


.advantages_title {
	.text-reset;
	margin-bottom: 18px;

	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.advantages_description {
	.text-reset;

	min-height: 134px;

	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
	text-align: center;
}

.advantages__toggles {
	margin: 0 auto;
	padding: 0;

	display: flex;
	width: 76px;
	justify-content: space-between;
}


.slider__toggle {
	padding: 0;
	width: 8px;
	height: 8px;

	font-size: 0;

	background: none;
	border: 1px solid #ffffff;

	transform: rotate(-45deg);
}

.slider__toggle--active {
	background-color: #ffffff;
}
